<div class="container"
    fxLayout="row"
    fxLayout.sm="column"
    fxLayout.xs="column"
    fxLayoutAlign.gt-md="space-around center"
    fxLayoutGap="10px" 
    fxLayoutGap.xs="0">

  <div fxFlex="40" *ngIf="dish" [@visibility]="visibility"  [@expand]>
        <md-card >
      <md-card-header>
        <md-card-title>
          <h3>{{dish.name | uppercase}}</h3>
        </md-card-title>
      </md-card-header>
      <img md-card-image src="{{BaseURL + dish.image}}" alt={{dish.name}}  >
      <md-card-content>
        <p>{{dish.description}}
        </p>
      </md-card-content>
    <md-card-actions>
        <button md-button [routerLink]="['/menudetails', prev]"><span class="fa fa-chevron-left fa-lg"></span></button>
        <button md-button (click)="goBack()">BACK</button>
        <button md-button>LIKE</button>
        <button md-button>SHARE</button>
        <span class="flex-spacer"></span>
        <button md-button [routerLink]="['/menudetails', next]"><span class="fa fa-chevron-right fa-lg"></span></button>
      </md-card-actions>
    </md-card>
  </div>

  <div fxFlex="40" *ngIf="dish" [@visibility]="visibility"  [@expand]>
    <md-list>
          <h3>COMMENTS</h3>
    <md-list-item *ngFor="let comment of dish.comments">
            <h3 md-line>
           {{comment.author}}
        </h3>
        <p md-line>
         {{comment.comment}}
        </p>
        <p md-line>
          {{comment.rating}}
        </p>
        <p md-line>{{comment.date | date}}

        </p>
         <h3 md-line>
          {{ comment.firstname }}
        </h3>
        <p md-line>
        {{ comment.message }}
        </p>
        <p md-line>
        {{ date }}
        </p>
    </md-list-item>
     <md-list-item>
      <h3 md-line>
          {{ ratingForm.value.firstname }}
        </h3>
        <p md-line>
        {{ ratingForm.value.message }}
        </p>
    </md-list-item>
        </md-list>
  </div>
   <div [hidden]="dish || dishErrMess">
    <md-spinner></md-spinner><h4>Loading . . . Please Wait</h4>
  </div>
    <div *ngIf="dishErrMess">
    <h2>Error</h2>
    <h4>{{dishErrMess}}</h4>
  </div>

      
            <div fxFlex fxFlexOffset="20px" class="form-size">
        <h3>Send us your Feedback</h3>
        <p>{{ ratingForm.value | json }} {{ ratingForm.status | json }}</p>

                    <form novalidate [formGroup]="ratingForm" (ngSubmit)="onSubmit()">
          <p>
            <md-input-container class="half-width"
             dividerColor="{{(formErrors.firstname) ? 'warn' : 'primary'}}">
              <input mdInput formControlName="firstname" placeholder="First Name" type="text" required>
              <md-hint>
                <span [hidden]="!(formErrors.firstname)">
                  {{formErrors.firstname}}</span>
              </md-hint>
            </md-input-container>
          
          </p>

         
          <p>
            <md-input-container class="full-width"
             dividerColor="{{(formErrors.message) ? 'warn' : 'primary'}}">
              <textarea mdInput formControlName="message" placeholder="Your Comment" rows=12></textarea>
                <md-hint>
                <span [hidden]="!(formErrors.message)">
                  {{formErrors.message}}</span>
              </md-hint>
            </md-input-container>
          </p>
          <button type="submit" md-button class="background-primary text-floral-white" [disabled]="ratingForm.invalid">Submit</button>
        </form>
      </div>
</div>
